extends layout
block head
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js", type="text/javascript")
block content
    .row
        .span12
            h1 So many events!
            h3 A look at who is excited about which Startup Weekend
    .row
        div#content
        .span3
            ul.nav.nav-list
                li.nav-header Choose a City
        .span9
            .well
                div#map.map

    script(type="text/template", id="tpl-event-list-item")
        a(href="#wines/<%= id %>") <%= name %>

    script(type="text/template", id="tpl-event-details").
        <div class="form-left-col">
            <label>Id:</label>
            <input type="text" id="wineId" name="id" value="<%= id %>" disabled />
        </div>
        <div class="form-right-col">
            <img height="300" src="../pics/<%= picture %>"/>
            <label>Notes:</label>
            <textarea id="description" name="description"><%= description %></textarea>
        </div>

    script(src="/js/underscore-min.js", type="text/javascript")
    script(src="/js/backbone-min.js", type="text/javascript")
    script(src="/js/mobile.js", type="text/javascript")
